@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  color: #2A2F33;
  line-height: 1;
  font-family: "Roboto Mono";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto Mono";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.navbar {
  padding: 0;
}

.container-fluid {
  background: rgb(58, 65, 70);
}

.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #face88;
}

.navbar-toggler {
  border: 1px solid rgb(111, 78, 72);
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:hover:hover {
  text-decoration: none;
  color: #15e7b3;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  border: 1px solid rgb(50, 16, 10);
  border: none;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.nav-link {
  color: #82661a;
}
.nav-link:hover {
  text-decoration: underline;
  color: #efb20b;
}

.disabled {
  display: none;
}

.tittle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 20px 0px;
  text-align: center;
}
.tittle__text {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
}
.modal-window {
  /* ------- подложка модального окна ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-window__container {
  max-width: 640px;
  margin: 40px auto;
}
.modal-window__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px;
  background-color: rgb(255, 228, 196);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-window__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 900;
  font-size: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(42, 47, 51, 0.8);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1024px;
  margin: 0px auto;
  background: rgb(218, 220, 225);
}

.habrOne__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.habrOne__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
  background-color: #a79797;
}

.proglib__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.proglib__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
  background-color: #a79797;
}

.accordion-header {
  border: 1px solid rgba(104, 111, 117, 0.3);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(104, 111, 117, 0.85);
  color: #fff;
  border: none;
  cursor: pointer;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  background-color: rgb(222, 222, 230);
}
.accordion-body :nth-child(n) {
  padding: 10px;
}/*# sourceMappingURL=style.css.map */