@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");
* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

html,
body {
  height: 100%;
}

body {
  color: #2A2F33;
  line-height: 1;
  font-family: "Roboto Mono";
  font-size: 16px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "Roboto Mono";
  font-size: inherit;
  line-height: inherit;
  color: inherit;
  background-color: transparent;
}

input,
textarea {
  width: 100%;
}

button,
select,
option {
  cursor: pointer;
}

a {
  display: inline-block;
  color: inherit;
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.navbar {
  padding: 0;
}

.container-fluid {
  background: rgb(58, 65, 70);
}

.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: rgb(251, 131, 83);
}
.navbar-brand:hover {
  color: lightsalmon;
}

.navbar-toggler {
  border: 1px solid rgb(111, 78, 72);
}
.navbar-toggler:hover {
  text-decoration: none;
}
.navbar-toggler:hover:hover {
  text-decoration: none;
  color: #15e7b3;
}
.navbar-toggler:focus {
  text-decoration: none;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.navbar-toggler-icon {
  border: 1px solid rgb(50, 16, 10);
  border: none;
}

.navbar-collapse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.nav-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}

.nav-link {
  color: #af6464;
}
.nav-link:hover {
  color: #efb20b;
}

.disabled {
  display: none;
}

.questions__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.questions__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
}

.btnUp {
  display: none;
}

.btn-outline-secondary {
  -ms-flex-item-align: center;
      align-self: center;
  max-width: 220px;
  background-color: #d1c2c2;
  color: #4a86a7;
  -webkit-box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.51);
          box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.51);
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 900;
  margin-top: 10px;
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}
.btn-outline-secondary:hover {
  background-color: #c1b5b5;
  color: #4a86a7;
  -webkit-box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.51);
          box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.51);
  -webkit-transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, -webkit-box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease, -webkit-box-shadow 0.3s ease;
}

.accordion-header {
  border: 1px solid rgba(104, 111, 117, 0.3);
}

.accordion-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: rgb(242, 241, 236);
  padding: 0px;
  max-height: -webkit-min-content;
  max-height: -moz-min-content;
  max-height: min-content;
}
.accordion-button a {
  color: #4a86a7;
  font-weight: 900;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0px 30px;
  cursor: alias;
}
.accordion-button a span {
  color: #cb4343;
}
.accordion-button a:hover {
  -webkit-transform: skewX(-10deg) scaleX(1.09);
      -ms-transform: skewX(-10deg) scaleX(1.09);
          transform: skewX(-10deg) scaleX(1.09);
  -webkit-transition: all 0.1s ease;
  transition: all 0.1s ease;
}
.accordion-button:not(.collapsed) {
  background-color: rgba(145, 148, 151, 0);
  color: #fff;
  border: none;
  cursor: pointer;
}
.accordion-button:not(.collapsed) a {
  color: #bce0f3;
  font-weight: 900;
  text-decoration: none;
  -ms-flex-item-align: start;
      align-self: start;
  padding: 0px 30px;
}
.accordion-button:not(.collapsed) a span {
  color: #f79292;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body {
  background-color: rgb(144, 144, 213);
}
.accordion-body :nth-child(n) {
  padding: 5px;
}
.accordion-body p {
  line-height: 1.5;
  padding-bottom: 2px;
  text-align: justify;
  text-wrap: pretty;
}
.accordion-body span {
  font-weight: 700;
  color: #333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.accordion-body .question__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
.accordion-body img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .accordion-body img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .accordion-body img {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .accordion-body img {
    width: 100%;
  }
}
.accordion-body .question__link {
  color: #ed8346;
  font-weight: 700;
}
.accordion-body .question__link:hover {
  -webkit-transform: scale(1.02);
      -ms-transform: scale(1.02);
          transform: scale(1.02);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.tests__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.tests__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 0px;
}
.tests__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 15px;
}
.tests__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  line-height: 3;
  padding-top: 55px;
}
.tests__item-tittle {
  font-size: 18px;
  font-weight: 600;
}
.tests__item-description {
  font-size: 16px;
}

.answer-text span {
  font-size: 18px;
  font-weight: 600;
  margin-left: 10px;
}

.modal-body p {
  line-height: 1.5;
  padding-bottom: 2px;
  text-align: justify;
  text-wrap: pretty;
}
.modal-body span {
  font-weight: 700;
  color: #333;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}
.modal-body .question__img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0px auto;
}
.modal-body img {
  width: 30%;
  height: auto;
  -o-object-fit: contain;
     object-fit: contain;
}
@media (max-width: 768px) {
  .modal-body img {
    width: 55%;
  }
}
@media (max-width: 768px) {
  .modal-body img {
    width: 60%;
  }
}
@media (max-width: 425px) {
  .modal-body img {
    width: 100%;
  }
}

.btn {
  padding: 12px 20px;
  border-radius: 5px;
}

.btn-primary {
  max-width: 300px;
  background-color: #fb7878;
  color: #5b443d;
  border: none;
  font-weight: 700;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
.btn-primary:hover {
  background-color: #fa6060;
  color: #613d31;
  border: none;
  cursor: pointer;
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-window {
  /* ------- подложка модального окна ------- */
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.5);
}
.modal-window__container {
  max-width: 640px;
  margin: 40px auto;
}
.modal-window__body {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  padding: 40px;
  background-color: rgb(255, 228, 196);
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 1%;
  max-height: 80vh;
  overflow-y: auto;
}
.modal-window__close {
  position: absolute;
  top: 5px;
  right: 10px;
  font-weight: 900;
  font-size: 30px;
  color: rgb(0, 0, 0);
  opacity: 0.8;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.article__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 768px) {
  .article__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.article__filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-backdrop-filter: blur(1px) saturate(80%);
          backdrop-filter: blur(1px) saturate(80%);
  position: fixed;
  z-index: 2;
  -webkit-writing-mode: sideways-lr;
      -ms-writing-mode: sideways-lr;
          writing-mode: sideways-lr;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.article__filter h4 {
  font-weight: 900;
  text-align: right;
}
@media (max-width: 768px) {
  .article__filter {
    -webkit-writing-mode: sideways-lr;
        -ms-writing-mode: sideways-lr;
            writing-mode: sideways-lr;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
.article__items {
  margin-left: 50px;
}
.article__items img {
  width: 50%;
  height: auto;
  margin: 5px;
}
.article__items:last-child {
  display: none;
}

.filter-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 50px;
  max-height: 140px;
  padding: 5px 5px;
  margin: 5px;
  color: #fff;
  color: lemonchiffon;
  border-radius: 10px;
  border: 1px solid lemonchiffon;
  -webkit-backdrop-filter: blur(1px) saturate(80%);
          backdrop-filter: blur(1px) saturate(80%);
  background-color: rgba(255, 160, 122, 0.75);
  text-wrap: pretty;
  text-wrap-mode: wrap;
}
.filter-btn:disabled {
  border-radius: 50%;
  padding: 3px;
}
.filter-btn.active {
  background-color: rgba(247, 124, 76, 0.75);
  border: 2px solid rgb(130, 80, 80);
  color: rgb(130, 80, 80);
  font-weight: bold;
}
.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: rgba(42, 47, 51, 0.8);
}

.content {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

[class*=__container] {
  max-width: 1440px;
  margin: 0px auto;
  background: rgb(218, 220, 225);
  padding: 10px 15px;
}

.zoomed {
  -webkit-transform: scale(3);
      -ms-transform: scale(3);
          transform: scale(3); /* Масштабирование */
  z-index: 1000;
  -webkit-transition: 0.3s all ease-in-out;
  transition: 0.3s all ease-in-out;
}
@media (max-width: 768px) {
  .zoomed {
    -webkit-transform: scale(2);
        -ms-transform: scale(2);
            transform: scale(2);
  }
}
@media (max-width: 768px) {
  .zoomed {
    -webkit-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
  }
}
@media (max-width: 425px) {
  .zoomed {
    -webkit-transform: scale(3);
        -ms-transform: scale(3);
            transform: scale(3);
  }
}

/* index.html */
.tittle__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-top: 20px;
  text-align: left;
}
.tittle__text {
  font-size: 24px;
  font-weight: 700;
  padding-bottom: 20px;
  text-align: center;
}
.tittle__description {
  line-height: 2;
}
.tittle__description span {
  font-weight: 500;
  font-style: italic;
  color: #d64141;
}
.tittle__important {
  gap: 10px;
  line-height: 2;
}
.tittle__important h4 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}
.tittle__list {
  gap: 10px;
}
.tittle__list li {
  list-style: inside;
}
.tittle__discover {
  gap: 10px;
  line-height: 2;
}
.tittle__discover h4 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}
.tittle__for-whom {
  gap: 10px;
  line-height: 2;
}
.tittle__for-whom h4 {
  text-align: center;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 10px;
}

.take-test__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.take-test__tittle {
  font-size: 24px;
  font-weight: 900;
  padding-bottom: 20px;
  text-align: center;
}
.take-test__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-bottom: 20px;
}
.take-test__item-btn {
  height: 75px;
  -ms-flex-line-pack: center;
      align-content: center;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  background-color: #e5806e;
  color: #7d5041;
  font-weight: 700;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.take-test__item-btn:hover {
  background-color: #d56f5b;
  -webkit-transform: scale(1.09);
      -ms-transform: scale(1.09);
          transform: scale(1.09);
  -webkit-transition: -webkit-transform 0.43s ease;
  transition: -webkit-transform 0.43s ease;
  transition: transform 0.43s ease;
  transition: transform 0.43s ease, -webkit-transform 0.43s ease;
}

/* javascript.html */
.habrOne__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.habrOne__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
  background-color: #a79797;
}

.proglib__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.proglib__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
  background-color: #a79797;
}
.proglib__link {
  padding: 10px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-align: center;
  color: rgb(238, 113, 3);
  font-weight: 700;
}
.proglib__link a {
  color: #9660ec;
  font-weight: bold;
}
.proglib__link a:hover {
  color: #630cee;
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.habr35__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.habr35__tittle {
  text-align: center;
  font-size: 24px;
  font-weight: 900;
  padding: 20px 0px;
  background-color: #a79797;
}
.habr35__link {
  padding: 10px;
  color: #333;
  font-size: 18px;
  text-decoration: none;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
  text-align: center;
  color: rgb(238, 113, 3);
  font-weight: 700;
}
.habr35__link a {
  color: #9660ec;
  font-weight: bold;
}
.habr35__link a:hover {
  color: #630cee;
  -webkit-transform: scale(1.025);
      -ms-transform: scale(1.025);
          transform: scale(1.025);
  -webkit-transition: -webkit-transform 0.3s ease;
  transition: -webkit-transform 0.3s ease;
  transition: transform 0.3s ease;
  transition: transform 0.3s ease, -webkit-transform 0.3s ease;
}

.accordion-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 10px;
}

.accordion-header {
  border: 1px solid rgba(104, 111, 117, 0.3);
}

.accordion-button:not(.collapsed) {
  background-color: rgba(104, 111, 117, 0.85);
  color: #fff;
  border: none;
  cursor: pointer;
}
.accordion-button:focus {
  z-index: 3;
  outline: 0;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.accordion-body p {
  padding: 0px;
  padding-top: 100px;
}/*# sourceMappingURL=style.css.map */