@import url("https://fonts.googleapis.com/css?family=Roboto+Mono:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");

@import url("https://fonts.googleapis.com/css?family=Josefin+Sans:100,200,300,regular,500,600,700,100italic,200italic,300italic,italic,500italic,600italic,700italic&display=swap");

@import "./defaultnullstyle";
@import "./blocks/nav";
@import "./blocks/tests";
@import "./blocks/popUp";


.wrapper {
  min-height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  background: rgba(42, 47, 51, 0.8);
}

.content {
  flex: 1 1 auto;
}

[class*="__container"] {
  max-width: 1024px;
  margin: 0px auto;
  background: $backgroundColor;
}

// .header {
//   &__container {
//     display: flex;
//     justify-content: space-evenly;
//     align-items: center;
//     z-index: 2;
//     padding: 30px 0px;
//     background: rgba(58, 65, 70, 1);
//     text-align: center;
//     @media (max-width: 700px) {
//       flex-direction: column;
//       gap: 20px;
//     }
//   }

//   .h1 {
//     font-family: "Josefin Sans", sans-serif;
//     font-size: 36px;
//     font-weight: bold;
//     color: #face88;
//   }

//   &__nav {
//     display: flex;
//     // align-items: center;
//     gap: 10px;
//     list-style: none;
//     color: rgb(236, 101, 78);

//     ul.li {
//       display: flex;
//       align-items: center;
//       gap: 10px;
//       font-size: 18px;
//       font-weight: 600;
//     }
//     a {
//       &:hover {
//         color: #eb9484;
//         text-decoration: underline;
//       }
//     }
//   }
// }

.habrOne {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0px;
    background-color: #a79797;
  }
}

.proglib {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0px;
    background-color: #a79797;
  }
}

.accordion {
}
.accordion-flush {
}
.accordion-item {
}
.accordion-header {
  border: 1px solid rgba(104, 111, 117, 0.3);
}
.accordion-button {
  &:not(.collapsed) {
    background-color: rgba(104, 111, 117, 0.85);
    color: #fff;
    border: none;
    cursor: pointer;
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }
}

.collapsed {
}
.accordion-collapse {
}
.collapse {
}
.accordion-body {
  background-color: rgb(222, 222, 230);
  :nth-child(n) {
    padding: 10px;
  }
}
