.article {
  &__container {
    display: flex;

    @media (max-width: 768px) {
      flex-direction: column;
    }
  }

  &__filter {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    // flex-wrap: wrap-reverse;
    // height: 400px;
    backdrop-filter: blur(1px) saturate(80%);
    position: fixed;
    z-index: 2;
    writing-mode: sideways-lr;
    flex-direction: row;

    h4 {
      font-weight: 900;
      text-align: right;
    }
    @media (max-width: 768px) {
        writing-mode: sideways-lr;
      flex-direction: row;
    }
  }

  &__items {
    margin-left: 50px;
    img{
        width: 50%;
        height: auto;
        margin: 5px;
     }

     &:last-child{
      display: none;
     }
  }
}
.filter-btn {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  width: 50px;
  max-height: 140px;
  padding:5px 5px;
  margin: 5px;
  color: #fff;
  border-radius: 10px;
  border: 1px solid lemonchiffon;
  backdrop-filter: blur(1px) saturate(80%);
  background-color: rgba(255, 160, 122, 0.75);
  text-wrap: pretty;
  text-wrap-mode: wrap;

  &:disabled {
    border-radius: 50%;
    padding: 3px;
  }

  &.active {
    background-color: rgba(247, 124, 76, 0.75);
    border: 1px solid rgb(18, 22, 19);
    color: rgb(130, 80, 80);
    font-weight: bold;
  }
  &__inactive {
  }
}
