.navbar__container {
}

.navbar {
  padding: 0;
}
.navbar-expand-md {
}
.bg-body-tertiary {
}
.container-fluid {
  // display: flex;
  // justify-content: center;
  background: rgba(58, 65, 70, 1);
}
.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-size: 36px;
  font-weight: bold;
  color: #face88;
}
.navbar-toggler {
  border: 1px solid rgb(111, 78, 72);
  &:hover {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #15e7b3;
    }
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }
}
.navbar-toggler-icon {
  border: 1px solid rgb(50, 16, 10);
  border: none;
}
.collapse {
}
.navbar-collapse {
  display: flex;
  justify-content: end;
}
.navbar-nav {
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}
.nav-link {
  color: #82661a;
  &:hover {
    text-decoration: underline;

    color: #efb20b;
  }
}
.active {
}
.disabled {
  display: none;
}
