.navbar__container {
}

.navbar {
  padding: 0;
}
.navbar-expand-md {
}
.bg-body-tertiary {
}
.container-fluid {
  display: flex;
  background: rgba(58, 65, 70, 1);
}
.navbar-brand {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
  color: rgb(251, 131, 83);

  &:hover {
    color: lightsalmon;
  }

  @media (max-width: 397px) {
    &:not(.collapse) {
      margin: 0px auto;
    }
  }
}
.navbar-toggler {
  border: 1px solid rgb(111, 78, 72);
  background-color: rgb(251, 131, 83);
  &:hover {
    text-decoration: none;
    &:hover {
      text-decoration: none;
      color: #15e7b3;
    }
  }

  &:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none;
  }

  @media (max-width: 416px) {
    &:not(.collapse) {
      margin: 0px auto;
    }
  }
}
.navbar-toggler-icon {
  border: 1px solid rgb(50, 16, 10);
  border: none;
}
.collapse {
}
.navbar-collapse {
  display: flex;
  justify-content: end;
}
.navbar-nav {
}
.nav-item {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
  font-weight: 600;
}
.nav-link {
  color: #af6464;
  &:hover {
    // text-decoration: underline;
    color: #efb20b;
  }
}
.active {
  // color: #efb20b;
}
.disabled {
  display: none;
}
