.questions {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__tittle {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
    padding: 20px 0px;
  }
}

.btnUp {
  display: none;
}

.btn-outline-secondary {
  align-self: center;
  max-width: 220px;
  background-color: #d1c2c2;
  color: #4a86a7;

  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.51);
  border: none;
  border-radius: 0px;
  padding: 10px 20px;
  font-weight: 900;
  margin-top: 10px;
  transition: background-color 0.3s ease, color 0.3s ease, box-shadow 0.3s ease;

  &:hover {
    background-color: #c1b5b5;
    color: #4a86a7;
    box-shadow: inset 3px 3px 3px rgba(0, 0, 0, 0.51);
    transition: background-color 0.3s ease, color 0.3s ease,
      box-shadow 0.3s ease;
  }
}

.accordion {
}
.accordion-flush {
}
.accordion-item {
}
.proglib-P1 {
}
.accordion-header {
  border: 1px solid rgba(104, 111, 117, 0.3);
}
.accordion-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(242, 241, 236);
  padding: 0px;
  max-height: min-content;

  a {
    color: #4a86a7;
    font-weight: 900;
    text-decoration: none;
    align-self: start;
    padding: 0px 30px;
    cursor: alias;

    span {
      color: #cb4343;
    }

    &:hover {
      transform: skewX(-10deg) scaleX(1.09);
      transition: all 0.1s ease;
    }
  }

  &:not(.collapsed) {
    background-color: rgba(145, 148, 151, 0);
    color: #fff;
    border: none;
    cursor: pointer;

    a {
      color: #bce0f3;
      font-weight: 900;
      text-decoration: none;
      align-self: start;
      padding: 0px 30px;

      span {
        color: #f79292;
      }
    }
  }

  &:focus {
    z-index: 3;
    outline: 0;
    box-shadow: none;
  }
}
.collapsed {
}
.proglib-P1-tittle {
}
.accordion-collapse {
}
.collapse {
}
.accordion-body {
  background-color: rgb(144, 144, 213);
  :nth-child(n) {
    padding: 5px;
  }

  p {
    // font-size: 18px;
    line-height: 1.5;
    padding-bottom: 2px;
    text-align: justify;
    text-wrap: pretty;
  }
  span {
    // font-size: 20px;
    font-weight: 700;
    color: #333;
    transition: color 0.3s ease;
  }

  .question__img {
    display: flex;
    margin: 0px auto;
    transform: scale(1);
  }

  img {
    width: 30%;
    height: auto;
    object-fit: contain;

    @media (max-width: 768px) {
      width: 55%;
    }

    @media (max-width: 768px) {
      width: 60%;
    }

    @media (max-width: 425px) {
      width: 100%;
    }
  }

  .question__link {
    color: #ed8346;
    font-weight: 700;

    &:hover {
      transform: scale(1.02);
      transition: all 0.3s ease-in-out;
    }
  }
}
.proglib-P1-container {
}
.proglib-P2 {
}
.proglib-P2-tittle {
}
.proglib-P2-container {
}
.proglib-10 {
}
.proglib-10-tittle {
}
.proglib-10-container {
}
.tproger-30 {
}
.tproger-30-tittle {
}
.tproger-30-container {
}
.habr-P1 {
}
.habr-P1-tittle {
}
.habr-P1-container {
}
.habr-P2 {
}
.habr-P2-tittle {
}
.habr-P2-container {
}
.habr-30 {
}
.habr-30-tittle {
}
.habr-30-container {
}

.tab-js {
  &__container {
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: 1px solid rgba(104, 111, 117, 0.3);
    box-shadow: inset 0px -3px 3px rgba(104, 111, 117, 1);
  }

  &__btn-js {
    background-color: #e2e3e4;
    color: #333;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: 700;
    transition: background-color 0.4s linear;
  }

  .btn-js-active {
    background-color: #f2757d;
    color: #fff;
  }
}

.common-questions {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Josefin Sans";
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  &__list {
    font-size: 24px;
    line-height: 1.5;
    padding-bottom: 2px;
    text-align: justify;
    text-wrap: pretty;
  }

  &__list-group-item {
  }
}

.common-answers {
  position: relative;
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Josefin Sans";
    font-size: 24px;
    line-height: 1.5;

    span {
      font-weight: 700;
    }
  }

  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 900;
  }

  &__common-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 15px;
    list-style-type: none;
  }

  &__common-list-item {
    border: solid 1px #444;
    padding: 5px;
    font-size: 14px;
    font-weight: 900;
    max-height: 90px;
    align-content: center;
    background-color: #bce0f3;
    cursor: pointer;
  }

  &__list {
    li::marker {
      content: "";
      font-size: 24px;
      margin-right: 10px;
    }
  }

  &__list-item {
    display: flex;
    flex-direction: column;

    img {
      display: flex;
      margin: 0px auto;
      width: 50vh;
      height: max-content;
      object-fit: contain;
    }
    gap: 20px;
    padding-bottom: 10px;
  }

  &__question {
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    background-color: bisque;
    text-align: center;
  }

  &__answer1,
  &__answer2,
  &__answer3,
  &__answer4 {
    padding: 0px 20px;
    background-color: #f79292;
    font-weight: 500;

    a {
      color: #d9f668;
      text-decoration: none;
      transition: all 0.01s ease;
      font-weight: 900;

      &:hover {
        transform: scale(1.05);
        transition: all 0.01s linear;
      }
    }
  }

  // &__answer1 {
  // }

  // &__answer2 {
  // }

  // &__answer3 {
  // }

  // &__answer4 {
  // }

  &__btn-up {
    position: fixed;
    background: rgba(247, 146, 146, 0.51);
    backdrop-filter: blur(6px) saturate(280%);
    color: #ffffff;
    color: #333;
    font-size: 24px;
    font-weight: 900;
    text-decoration: none;
    transition: all 0.01s ease;
    max-width: 100px;
    padding: 20px;
    right: 30px;
    border-radius: 10px;
  }
}

.cards-js {
  &__container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-family: "Josefin Sans";
    line-height: 1.5;
  }

  &__tittle {
    text-align: center;
    font-weight: bold;
    font-size: 24px;
  }

  &__list {
    // display: grid;
    // grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    gap: 25px;
  }
}

.cardJS {
  display: flex;
  flex-direction: column;
  max-width: 600px;

  &__btn {
    font-size: 20px;
    font-weight: 700;
    line-height: 1.25;
    background-color: #bdc6f7;
    color: #444;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    height: 170px;
    text-align: center;
    text-indent: 2px;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  &__panel {
    font-size: 18px;
    font-weight: 500;
    padding: 10px;
    background-color: #f2757d;
    display: none;
    overflow: hidden;

    img {
      display: flex;
      width: 100%;
      height: auto;
      object-fit: contain;
      margin: 0px auto;
      z-index: 50;
    }
  }
}

.activeCard {
  background-color: #ccc;
}
